@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <a style="text-decoration:none; padding:5px; border:1px solid grey; border-radius:4px;"
       asp-action="CreateRole" asp-controller="Administration">Create Role</a>
    @foreach (var role in Model)
    {
        <div style="margin-top:15px;">
            <hr />
            <div>
                <h5 style="margin:0px;">Role Id : @role.Id</h5>
            </div>
            <div>
                <Big>@role.Name</Big>
            </div>
            <hr />
            <div>
                <form method="post" asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id">
                    <a asp-action="EditRoleUsers" asp-controller="Administration" asp-route-roleId="@role.Id"
                       style="text-decoration:none; padding:5px; border:1px solid grey; border-radius:4px;">
                        Add User | Remove Users
                    </a>
                    <span style="display:inline-block; width:20px; text-align:center;color:#ccc;"> | </span>
                    <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a>
                    <span style="display:inline-block; width:20px; text-align:center;color:#ccc;"> | </span>
                    <a href="#" id="delBtn_@role.Id" onclick="delConfirmation('@role.Id',true)">Delete</a>
                    <span id="conf_@role.Id" style="display:none">
                        <span><b>Sure you want to delete:'@role.Name'?</b> Confirm this action &nbsp; </span>
                        <button type="submit">Yes</button>
                        <a href="#" onclick="delConfirmation('@role.Id',false)">No</a>
                    </span>
                </form>
            </div>
            <hr />
        </div>
    }
}
else
{
    // this view did not recieve any roles
    <div>
        <div class="">
            No roles created yet
        </div>
        <div class="">
            <h5 class="">Use the button below to create a role</h5>
            <a class="" asp-action="CreateRole" asp-controller="Administration"
               style="text-decoration:none; padding:5px; border:1px solid grey; border-radius:4px;">
                Create role
            </a>
        </div>
    </div>
}

@section Scripts{ 
    <script src="~/js/siteScript.js"></script>
}