@model HomeDetailsViewModel
@inject UserManager<ApplicationUser> userMngr
@inject SignInManager<ApplicationUser> signMngr

@{
    ViewBag.Title = Model.pageTitle;
    Layout = "../Administration/_AdminLayout";
    var photoPath = "~/images/" + (Model.user.Photo ?? "pix1.jpg");
}
<div>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 pl-3">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@ViewContext.RouteData.Values["controller"].ToString()</a></li>
                        <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row pl-3 pr-3">

                <!-- Profile Image -->
                <div class="col-md-4">
                    <div class="card card-primary card-outline ">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="@photoPath" alt="User profile picture" asp-append-version="true">
                            </div>

                            <h3 class="profile-username text-center"> @Model.user.LastName @Model.user.FirstName </h3>

                            <p class="text-muted text-center">ADMIN</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b><i class="fas fa-envelope"></i> &nbsp; Email : </b> <a class="float-right">@Model.user.Email</a>
                                </li>
                                <li class="list-group-item">
                                    <b><i class="fas fa-user"></i> &nbsp; Username : </b> <a class="float-right">@Model.user.UserName</a>
                                </li>
                                <li class="list-group-item">
                                    <b><i class="fas fa-phone"></i> &nbsp; Phone : </b> <a class="float-right">@Model.user.PhoneNumber</a>
                                </li>
                            </ul>
                            @if (Model.user.Email == User.Identity.Name) { 
                                <a asp-action="ChangePassword" asp-controller="Account" asp-route-id="@Model.user.Id" class="btn btn-primary btn-block"><b>Edit Password</b></a>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <!-- About Me Box -->
                <div class="col-md-8">
                    <div class="card card-navy ">
                        <div class="card-header">
                            <h3 class="card-title">More Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Education</strong>

                            <p class="text-muted">
                                Not added yet!
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                            <p class="text-muted">@Model.user.City, @Model.user.Country</p>

                            <hr>

                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                            <p class="text-muted">
                                @*<span class="tag tag-danger">UI Design</span>
                                <span class="tag tag-success">Coding</span>
                                <span class="tag tag-info">Javascript</span>
                                <span class="tag tag-warning">PHP</span>
                                <span class="tag tag-primary">Node.js</span>*@
                                None at the moment
                            </p>

                            <hr>

                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                            <p class="text-muted">None at the moment</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>

                <!-- /.card -->

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>